<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Chat", root_path, class: "navbar-brand text-black" %>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <span class="nav-link">Username: <%= current_user.username %></span>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-dark" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>